<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/all_news_style.css' %}">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
   
</head>
<body>
{% include 'inc/_nav.html' %}
  <div class="container-xxl" style="margin-top: 10px; background-color: #ffffff;">
    <div class="row justify-content-xxl-center">
      <div class="col-7">
        {% block content %}CONTENT{% endblock %}
      </div>
      <div class="col-3">
        {% include 'inc/_sidebar.html' %}
      </div>
    </div>
  </div>
<footer class="bg-dark text-center text-white">
  <div class="text-center p-3 bg-dark text-white">
    © 2023 Copyright:
    <a class="text-white" href="{% url 'main:all_news' %}">SportNews.com</a>
  </div>
  <!-- Copyright -->
</footer>

    
</body>
</html>