<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/all_news_style.css' %}">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
   
</head>
<body>
{% include 'inc/_nav.html' %}
<div style="padding-bottom: 90px;">
  {% block forum %}FORUM{% endblock %}
</div>

<footer class="bg-dark text-center text-white fixed-bottom" style="margin-top: 5%;">
  <div class="text-center p-3 bg-dark text-white">
    © 2023 Copyright:
    <a class="text-white" href="{% url 'main:all_news' %}">SportNews.com</a>
  </div>
  <!-- Copyright -->
</footer>  
</body>
</html>